# environment variables 
postgres_pgadmin/.env
qdrant_vecterDB/qdrant_data/


# N8N
n8n/.env
traefik/letsencrypt
# Docker
*.log
docker-compose.override.yml
docker-compose.*.yml
Dockerfile*
**/Dockerfile*
**/docker-compose*.yml
**/.env
**/.env.*
**/data/
**/tmp/
**/volumes/
**/logs/
**/.dockerignore
**/.DS_Store
**/node_modules/
