# ================================
# Ignore sensitive files and folders 
# created by jeerask 
# ================================


# environment variables 
postgres_pgadmin/.env
qdrant_vecterDB/qdrant_data/


# N8N
n8n/.env
traefik/letsencrypt
# Docker
*.log
docker-compose.override.yml
docker-compose.*.yml
Dockerfile*
**/Dockerfile*
**/docker-compose*.yml
**/.env
**/.env.*
**/data/
**/tmp/
**/volumes/
**/logs/
**/.dockerignore
**/.DS_Store
**/node_modules/

# ================================ 
# uptime kuma 
# ================================ 
uptime/uptime-kuma-data/kuma.db
uptime/uptime-kuma-data/

n8n/n8n_data/config
n8n/n8n_data/database.sqlite
n8n/n8n_data/nodes/package.json
airflow/dags/hello_world.py
airflow/dags/__pycache__/hello_world.cpython-312.pyc
n8n/n8n_data/crash.journal

# Airflow 
airflow/dags/