# Docker Compose configuration for DCM service
# reference: https://github.com/ajnart/dcm

services:
  dcm:
    image: ghcr.io/ajnart/dcm
    container_name: dcm
    ports:
      - "7576:7576"
    restart: unless-stopped
