services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - "3030:3000"
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=Asia/Bangkok
      - HOMEPAGE_ALLOWED_HOSTS=localhost:3030,127.0.0.1:3030
    restart: unless-stopped  